# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs/

# Ignore changes to ticketSettings.json on Mini PC
data/AnonymousSubmissionSettings.json
data/modForumSettings.json
data/modReportSettings.json
data/promotionSettings.json
data/tickets.json
data/ticketSettings.json